@import "~rsuite/styles/index";
@import "~tailwindcss/dist/components.min.css";
@import "~tailwindcss/dist/utilities.min.css";

@base-color: #01B280;
@primary-color: @base-color;
@border-radius-base: 0px;     // 切换直角/圆角
@button-ripple: false;
@form-control-width: 200px;
.text-primary {
    color: @base-color;
}
.login-bg {
    background-image: url("../images/floating-cogs.svg");
    background-repeat: repeat;
}
.login-dialog {
    width: 550px;
    left: 50%;
    top: 20%;
    margin-left: -275px;
}
.rs-btn > svg {
    margin-top: -2px;
}
